// width
$width_select: 300px;
$width_bonuses: 400px;
$width_input: 144px;

// background
$bg_checked: #fce5cd;
$bg_input: #2e2e2e;
$bg_body: #212121;
$bg_base: #4b4b4b;
$bg_green: #00ff75;
$bg_white: #FCE5CD;
// color
$color_base: #ffb2b2;
$color_dark: #000;

//header font-size
$heder_1: 64px;
$heder_3: 36px;
$header_5: 24px;
$text_big: 16px;
// margin
$mg_vbig: 20px;
$mg_big: 15px;
$mg_base: 10px;
$mg_small: 5px;
$mg_vsmall: 3px;
$mg_title_top: 60px;
$mg_bonus_top: 165px;

// padding
$pd_vbig: 20px;
$pd_big: 15px;
$pd_base: 10px;
$pd_small: 5px;
$pd_vsmall: 3px;

//font-weight
$fw_base: 400;

// font-opt
$main_font: 'Nunito';
$font_path: './assets/fonts/Nunito/Nunito-VariableFont_wght.ttf';





